<?xml version="1.0"?>
<acl xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <resources>
        <resource id="Magento_Backend::admin">
            <resource id="Qwicpay_Checkout::qwicpay_root" title="QwicPay" sortOrder="1000">
                <resource id="Qwicpay_Checkout::qwicpay_dashboard" title="Dashboard" />
            </resource>
        </resource>
    </resources>
</acl>
