<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/config.xsd">
    <default>
        <payment>
            <qwicpay>
                <active>1</active>
                <model>QwicPay\Payment\Model\QwicPay</model>
                <title>QwicPay</title>
                <order_status>pending</order_status>
                <is_gateway>0</is_gateway>
                <can_authorize>0</can_authorize>
                <can_capture>0</can_capture>
                <can_refund>0</can_refund>
                <can_use_checkout>0</can_use_checkout> <!-- Not visible in frontend -->
                <can_use_internal>1</can_use_internal>
                <can_use_for_multishipping>0</can_use_for_multishipping>
            </qwicpay>
        </payment>
    </default>
</config>
